<h1>StockOverFlow</h1>

<h2>Edit your Comment</h2>

<form action="/comment-edit/{{foundComment.ticker}}/{{foundComment._id}}" method="POST">




  <div class="mb-2 comment-stock-detail">
    <label for="exampleFormControlTextarea1" class="form-label">Comment:</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="2" type="text" name="comment" placeholder="Comment..."/>{{foundComment.comment}}</textarea>
    <button class="btn btn-outline-secondary" type="submit">Submit changes</button>
  </div>


</form>

<form action="/comment-edit/delete/{{foundComment.ticker}}/{{foundComment._id}}" method="POST">
  <button  class="btn btn-outline-secondary" type="submit">Delete</button>
</form>

<button class="btn btn-outline-secondary"> <a href="javascript:history.back()"> Back </a></button>