<h1>Company List</h1>

<hr>

<p>Ticker Symbol:{{appleList.ticker}}</p> 
<p>Company Name:{{appleList.companyInformation.shortName}}</p> 
<p>Current Price:{{appleList.priceData.currentPrice}}</p> 
<p>MarketCap: {{appleList.companyInformation.marketCap}}</p> 
<img src="{{appleList.companyInformation.logoURL}}" alt="" srcset="">

<a href="/stock-details">VIEW {{appleList.companyInformation.shortName}} Details</a>

<hr>
<hr>



<p>Ticker Symbol:{{amazonList.ticker}}</p> 
<p>Company Name:{{amazonList.companyInformation.shortName}}</p> 
<p>Current Price:{{amazonList.priceData.currentPrice}}</p> 
<p>MarketCap: {{amazonList.companyInformation.marketCap}}</p> 
<img src="{{amazonList.companyInformation.logoURL}}" alt="" srcset="">

<a href="/stock-details">VIEW {{amazonList.companyInformation.shortName}} Details</a>

