<h1>Stock Details</h1>

<div class="row">
    <a href="/home-view">Home</a>
    <a href="/logout">Logout</a>
        <div class="stock-details">
        <article class="stockDetail"> 
        <h2> {{data.stockInfo.data.companyInformation.shortName}}</h2>
        <p>ticker: {{data.stockInfo.data.ticker}}</p>
        <p>Current Price:
        {{data.stockInfo.priceData.currentPrice}}</p>
        <p>
        <img
            src="{{data.stockInfo.data.companyInformation.logoURL}}"
            alt="logocompany"
            srcset=""
        /></p>
        <p>Brief of the Company:
        {{data.stockInfo.data.companyInformation.companyDescription}}</p>
        <p>
        Address:
        {{data.stockInfo.data.companyInformation.companyLocation}}
        {{data.stockInfo.data.companyInformation.companyAdress}}
        </p>
        <p>Market Capitalization: {{data.stockInfo.data.companyInformation.marketCap}}</p>
        <p>Balance Sheet: {{data.stockInfo.data.fundamentals.balanceSheet}}</p>
        <p>Income Statement: {{data.stockInfo.data.fundamentals.incomeStatement}}</p>
        <p>
        Institutional Owners:
        {{data.stockInfo.data.fundamentals.totalInstitutionalOwners}}
        </p>
</div>
  </article>
    <hr>
<hr>
<p><b>Make a comment</b></p>
<form action="/stock-view-details/{{data.stockInfo.data.ticker}}/create" method="POST">
  <label>Username:</label>
  <input type="text" name="name">
  <br>
  <label>Comment:</label>
  <input type="text" name="comment">
  <button type="submit">Post</button>
</form>
<hr>

{{#each data.foundComment}}
<p>Name: {{this.name}}</p>
<p>Comment: {{this.comment}}</p>
<p>creator: {{this.creator.username}}</p>
{{#if this.isCreator}}
<a href="/stock-view-details/edit"> <button type="submit">Edit</button></a>
<a href="/stock-view-details/{{data.stockInfo.data.ticker}}/delete"></a><button type="submit">Delete</button></a>
{{/if}}
{{/each}}
<hr>

</div>