<div class="stock-details-view">
<div class="news-stock-detail d-flex justify-content-around  align-items-center">
  <div class="stock-details stock-detail-info col-md-8">
          <h2> {{data.stockInfo.data.companyInformation.shortName}}</h2>
          <p><i> ({{data.stockInfo.data.ticker}})</i></p>
          <h5>Current Price:</h5>
          <h5>${{data.stockInfo.data.priceData.currentPrice}}</h5>
          <img
            src="{{data.stockInfo.data.companyInformation.logoURL}}"
            alt="logocompany"
            srcset=""
          />
          <p><b>Brief of the Company:</b>
          <br />
          {{data.stockInfo.data.companyInformation.companyDescription}}</p>
          <h5>Company location:</h5>
          {{data.stockInfo.data.companyInformation.companyLocation}}
          <h5><b>Market Capitalization:</h5> $</b>{{data.stockInfo.data.companyInformation.marketCap}}
          <h5>Shareholder Breakdown:</h5>
          <p><b>Holdings</b>:{{data.stockInfo.data.fundamentals.shareholderBreakdown.insiderHoldings}}%</p>
          <p><b>Institutional Holdings</b>:{{data.stockInfo.data.fundamentals.shareholderBreakdown.institutionalHoldings}}%</p>
          <p><b>General Public Holdings</b>:{{data.stockInfo.data.fundamentals.shareholderBreakdown.generalPublicHoldings}}%</p>
         <h5> Number of institutional Owners:</h5>
         <p> {{data.stockInfo.data.fundamentals.totalInstitutionalOwners}}</p>
          <h5>Balance Sheet:</h5>
          
          <div>
          <ul class="order-balance-sheet d-flex flex-row-reverse ">
          {{#each data.stockInfo.data.fundamentals.balanceSheet}}
          <div>
          <li class="list-balance">
          <p><b>Date: {{this.date}}</b></p>
          <p> Assets: ${{this.assets}}</p>
          <p>Liabilities: ${{this.liabilities}}</p>
          </li>
          </div>
          {{/each}}
          </ul>
          </div>
         
  </div>
  <div class="last-news-detail stock-detail-news col-md-4 ms-auto">
          <ul class="list-group">
            <li>
              <h3 class="news-list-title">
              Latest news from {{data.stockInfo.data.companyInformation.shortName}}
              </h3>
            </li>
            <li class="news-list list-group-item list-group-item-action">
              <a href="{{data.stockInfo.data.companyInformation.newsData.0.newsLink}}">
              {{data.stockInfo.data.companyInformation.newsData.0.newsArticle}}
              </a>
            </li>
            <li class="news-list list-group-item list-group-item-action">
              <a href="{{data.stockInfo.data.companyInformation.newsData.1.newsLink}}">
              {{data.stockInfo.data.companyInformation.newsData.1.newsArticle}}
              </a>
            </li>
            <li class="news-list list-group-item list-group-item-action">
              <a href="{{data.stockInfo.data.companyInformation.newsData.2.newsLink}}">
              {{data.stockInfo.data.companyInformation.newsData.2.newsArticle}}
              </a>
            </li>
          </ul>
  </div>
  </div>

      <hr />


    <div class="mb-2 comment-stock-detail">
      <p><b>Tell us what you think about this company</b></p>
      <form
        action="/stock-view-details/{{data.stockInfo.data.ticker}}/create"
        method="POST"
      >
        <textarea class="stock-label form-control" id="exampleFormControlTextarea1" rows="2" type="text" name="comment" placeholder="Comment..."/></textarea>
        <button class="btn btn-outline-secondary" type="submit">Post</button>
      </form>

      <hr />
  

      {{#each data.foundComment}}
      <p><b>Username:</b> {{this.creator.username}}</p>
      <p><b>Comment:</b> {{this.comment}}</p>
      {{#if this.isCreator}}
      <a href="/comment-edit/{{this.ticker}}/{{this._id}}">
        <button class="btn btn-outline-secondary" type="submit">Edit</button></a>
        <hr />
        {{/if}}
      {{/each}}
    </div>


<button class="btn btn-outline-secondary"> <a href="javascript:history.back()"> Back </a></button>
</div>