<h1>Stock Details</h1>

<div class="row">
    <a href="/home-view">Home</a>
    <a href="/">Logout</a>
        
        <div class="stock-details">
        <article class="stockDetail">
        <h2>Stock Name: {{companyInformation.stockList.shortName}}</h2>
        <p>ticker: {{stockList.shortName}}</p>
        <p>Current Stock Price:
        {{stockList.companyInformation.priceData.currentPrice}}</p>
        <p>Company Logo:
        <img
            src="{{stockList.companyInformation.logoURL}}"
            alt="logocompany"
            srcset=""
        /></p>
        <p>Brief of the Company:
        {{stockList.companyInformation.companyDescription}}</p>
        <p>
        Address:
        {{stockList.companyInformation.companyLocation}}
        {{stockList.companyInformation.companyAdress}}
        </p>
        <p>Market Capitalization: {{stockList.companyInformation.marketCap}}</p>
        <p>Balance Sheet: {{stockList.companyInformation.balanceSheet}}</p>
        <p>Income Statement: {{stockList.companyInformation.incomeStatement}}</p>
        <p>
        Institutional Ownres:
        {{stockList.companyInformation.totalInstitutionalOwners}}
        </p>
</div>

  </article>

</div>