<h1>Stock Details</h1>

<div class="row">
    <a href="/home-view">Home</a>
    <a href="/">Logout</a>
        <div class="stock-details">
        <article class="stockDetail"> 
        <h2>Stock2131231231 Name: {{stockList.0.data.ticker}}</h2>
        <p>ticker: {{stockInfo.data.ticker}}</p>
        <p>Current Price:
        {{stockList.priceData.currentPrice}}</p>
        <p>Company Logo:
        <img
            src="{{stockList.companyInformation.logoURL}}"
            alt="logocompany"
            srcset=""
        /></p>
        <p>Brief of the Company:
        {{stockList.companyInformation.companyDescription}}</p>
        <p>
        Address:
        {{stockList.companyInformation.companyLocation}}
        {{stockList.companyInformation.companyAdress}}
        </p>
        <p>Market Capitalization: {{stockList.companyInformation.marketCap}}</p>
        <p>Balance Sheet: {{stockList.fundamentals.balanceSheet}}</p>
        <p>Income Statement: {{stockList.fundamentals.incomeStatement}}</p>
        <p>
        Institutional Owners:
        {{stockList.fundamentals.totalInstitutionalOwners}}
        </p>
</div>
  </article>
  {{!--
    <hr>
<hr>
<p><b>Make a comment</b></p>
<form action="/stock-view-details/{{stockInfo.data.ticker}}" method="POST">
  <label>Username:</label>
  <input type="text" name="name">
  <br>
  <label>Comment:</label>
  <input type="text" name="comment">
  <button type="submit">Post</button>
</form>
<hr>

{{!-- {{#each commentStock}}
<p>Name: {{this.name}}</p>
<p>Comment: {{this.comment}}</p>
{{/each}}
<hr>--}}
</div>