<h1>Company List</h1>

<hr>

<p>Ticker Symbol:{{stockList.0.data.ticker}}</p>
<p>Company Name:{{stockList.0.data.companyInformation.shortName}}</p> 
<p>Current Price:{{stockList.0.data.priceData.currentPrice}}</p> 
<p>MarketCap: {{stockList.0.data.companyInformation.marketCap}}</p>
<img src="{{stockList.0.data.companyInformation.logoURL}}" alt="" srcset="">
<hr>
<p>Ticker Symbol:{{stockList.1.data.ticker}}</p> 
<p>Company Name:{{stockList.1.data.companyInformation.shortName}}</p> 
<p>Current Price:{{stockList.1.data.priceData.currentPrice}}</p> 
<p>MarketCap: {{stockList.1.data.companyInformation.marketCap}}</p>
<img src="{{stockList.1.data.companyInformation.logoURL}}" alt="" srcset="">
<hr>
<p>Ticker Symbol:{{stockList.2.data.ticker}}</p> 
<p>Company Name:{{stockList.2.data.companyInformation.shortName}}</p> 
<p>Current Price:{{stockList.2.data.priceData.currentPrice}}</p> 
<p>MarketCap: {{stockList.2.data.companyInformation.marketCap}}</p>
<img src="{{stockList.2.data.companyInformation.logoURL}}" alt="" srcset="">
<hr>
<p>Ticker Symbol:{{stockList.3.data.ticker}}</p> 
<p>Company Name:{{stockList.3.data.companyInformation.shortName}}</p> 
<p>Current Price:{{stockList.3.data.priceData.currentPrice}}</p> 
<p>MarketCap: {{stockList.3.data.companyInformation.marketCap}}</p>
<img src="{{stockList.3.data.companyInformation.logoURL}}" alt="" srcset="">
<hr>

<a href="/stock-details">VIEW {{values.companyInformation.shortName}} Details</a>

<hr>
<hr>



<p>Ticker Symbol:{{amazonList.ticker}}</p> 
<p>Company Name:{{amazonList.companyInformation.shortName}}</p> 
<p>Current Price:{{amazonList.priceData.currentPrice}}</p> 
<p>MarketCap: {{amazonList.companyInformation.marketCap}}</p> 
<img src="{{amazonList.companyInformation.logoURL}}" alt="" srcset="">

<a href="/stock-details">VIEW {{amazonList.companyInformation.shortName}} Details</a>

