<section class="container">
  <h1>Company list</h1>
  <hr />

  <div class="row">      <div class="col-md-4">
        <article class="stockticker">
        <p>ticker: {{stockList.ticker}}</p>
        <p>Logo: {{this.ticker}}</p>
          <h2>{{this.ticker}}</h2>
          <hr />
          <p>Occupation: {{this.ticker}}</p>
          <p>Weapon: <img src="{{stockList.companyInformation.logoURL}}" alt="logocompany" srcset=""></p>
          <div class="btn-group" style="width: 100%">
          </div>
        </article>
      </div>

  </div>

</section>