<h1>Company List</h1>
<ul class="list-group">
  <li class="list-group-item active" aria-current="true">{{stockList.ticker}}</li>
  <hr>
  <li class="list-group-item">{{stockList.Symbol}}</li>
  <hr>
  <li class="list-group-item"><img src="{{stockList.companyInformation.logoURL}}"</li>
  <hr>
  <li class="list-group-item">{{stockList.currentPrice}}</li>
  <hr>
  <li class="list-group-item">{{stockList.Marketcap}}</li>
</ul>


<a href="./stocks-views/stock-view.hbs">Check Stocks</a>

<a href="/newsfeed">Check News Feed</a>







