<h1>Latest new's from the market</h1>

{{#each newsData}}

<p><h2><b>{{this.title}}</b></h2></p>
<hr>
<p><img src="{{this.urlToImage}}" width=400px alt="newsimg" srcset=""></p>
<p><h4>{{this.description}}</h4></p>
<a href="<p>{{this.url}}</p>">Check More Here</a>
<hr>

{{/each}}


<a href="/news-view-detail/">
        {{! Im having issues to display the news array proprieties }}
        {{#each newsList}}</a>
       <p> {{this.newsArticle}}</p>
       <p> {{this.newsSource}}</p>
       <p> {{this.newsLink}}</p>
        <p>{{this.newsDate}}</p>
        <hr>
        {{/each}}

