<h1>MY PROFILE</h1>

<p> <img src="{{userprofile.imageUrl}}" alt="profilepicture" srcset=""> </p>

<p> FIRST NAME: {{userprofile.firstname}} </p>

<p>LAST NAME:  {{userprofile.lastname}}</p>

<p> AGE:  {{userprofile.age}}</p>

<p> ABOUT ME: {{userprofile.aboutme}}</p>

<p>FAVORITE STOCKS:</p>

<BUtton> <a href="/Profite-edit/{{userprofile._id}}">Edit Info</a></BUtton>
