<h1>MY PROFILE</h1>

<p> <img src="{{userprofile.userInfo.imageUrl}}" alt="profilepicture" srcset=""> </p>

<p> FIRST NAME: {{userprofile.userInfo.firstname}} </p>

<p>LAST NAME:  {{userprofile.userInfo.lastname}}</p>

<p> AGE:  {{userprofile.userInfo.age}}</p>

<p> ABOUT ME: {{userprofile.userInfo.aboutme}}</p>

<p>FAVORITE STOCKS:</p>

<Button> <a href="/Profite-edit/{{userprofile._id}}">Edit Info</a></Button>
